* {
    box-sizing: border-box;
}
:root {
    --bright-text-color: #888;
    --primary-button-background-color: #0a93eb;
    --primary-button-hover-background-color: #0987d7;
    --primary-text-color: #4d4b5a;
    --secondary-text-color: #929394;
    --opaque-navbar-text-color: #666;
    --hover-background-color: rgba(0, 0, 0, 0.08);
    --color-border: #dee2e6;
    --color-link: #0987d7;
    --color-gray-icon: #777;
    --color-navbar-hover-background: #555;
    --color-card-background: #fff;
    --color-table-border: #EEEFF1;
    --color-table-background-hover: #F2F6FD;
    --color-table-text: #555B68;
    --color-table-text-hover: --color-table-text;
    --color-table-link: #008DDC;
    --color-table-link-hover: --color-table-link;
    --color-button-light-text: --color-table-text;
    --color-site-header-text: #fff;
    --color-text-error: #f05458;
}
.night-mode {
    --bright-text-color: #fff;
    --primary-button-background-color: #0a93eb;
    --primary-button-hover-background-color: #0987d7;
    --primary-text-color: #4d4b5a;
    --secondary-text-color: #67656f;
    --opaque-navbar-text-color: #666;
    --hover-background-color: rgba(0, 0, 0, 0.08);
    --color-border: #dee2e6;
    --color-link: #0987d7;
    --color-gray-icon: #777;
    --color-navbar-hover-background: #555;
    --color-card-background: #222;
    --color-table-border: #2a2a2a;
    --color-table-background-hover: #282828;
    --color-table-text: #ddd;
    --color-table-text-hover: #ccc;
    --color-table-link: #3b85b6;
    --color-table-link-hover: #4dacea;
    --color-button-light-text: #ccc;
    --color-site-header-text: --bright-text-color;
    --color-text-error: #f05458;
}
.text-right {
    text-align: right !important;
}
.text-error {
    color: var(--color-text-error);
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.flex-hv-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.justify-between {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.flex-grow {
    flex: 1;
}
.container {
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    max-width: 1400px;
}
.collapse {
    display: none;
}
.collapse.show {
    display: block !important;
}
.card {
    border-radius: 0.25em;
    background-color: #fff;
    padding: 1.5em;
    justify-content: center;
}
a {
    color: var(--color-link);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.hmy-bg {
    background: linear-gradient(to right top, #00aee9, #4fe7c8);
}
@media (max-width: 400px) {
    .card {
        padding: 0.5em;
    }
    .header {
        padding: 0.5em;
    }
}
.navbar-fixed-top {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    top: 0;
    color: var(--color-site-header-text);
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.navbar-fixed-top a.navbar-brand {
    display: inline-block;
    height: 7em;
    width: 10em;
    box-sizing: border-box;
    background-image: url(harmony-logo-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    margin-left: -1em;
}
.navbar-fixed-top .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.navbar-fixed-top .navbar-actions {
    display: flex;
    align-items: center;
}
.navbar-fixed-top a.navbar-nav {
    text-decoration: none;
    padding: 1em 1em;
    transition: color 0.15s ease-in-out;
    color: #a09ea7;
}
.navbar-fixed-top a.navbar-nav:hover {
    color: inherit;
}
.navbar-fixed-top .tagline {
    font-weight: 200;
    margin-bottom: -0.2em;
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #dfdfdf;
}
html,
body,
.app {
    height: 100%;
}
.app {
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 0 auto;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
@media (max-width: 768px) {
    .td-title {
        width: auto !important;
    }
}
.explorer-page {
    display: flex;
    flex-direction: column;
    background-color: #f7f7ff;
    min-height: 100%;
}
.explorer-page .explorer-body {
    flex: 1;
    padding-top: 8em;
    width: 100%;
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
}
.explorer-page .explorer-card {
    border-radius: 0.25em;
    background-color: #fff;
    padding: 1.5em;
    background-color: var(--color-card-background);
    color: var(--color-table-text);
    padding: 0;
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}
.explorer-page .explorer-card header,
.explorer-page .explorer-card footer {
    padding: 1em 1.5em;
    display: block;
}
.explorer-page .explorer-card header {
    border-bottom: solid 1px var(--color-table-border);
}
.explorer-page .explorer-card header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-end;
}
.explorer-page .explorer-card header .pagination-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    float: right;
    font-size: 0.8em;
}
.explorer-page .explorer-card header .pagination-controls .total-tx-num {
    margin-right: 1em;
}
.explorer-page .explorer-card header .pagination-controls .pagination-nums {
    margin-left: 1em;
}
.explorer-page .explorer-card footer {
    border-top: solid 1px var(--color-table-border);
}
.explorer-page .explorer-card footer.button-only-footer {
    padding: 0;
}
.explorer-page .explorer-card footer.button-only-footer .btn {
    padding: 1em;
}
.explorer-page .explorer-card a {
    color: var(--color-table-link);
    transition: color 0.15s ease-in-out;
}
.explorer-page .explorer-card a:hover {
    color: var(--color-table-link-hover);
    text-decoration: none;
}
.explorer-page .explorer-card span.disabled,
.explorer-page .explorer-card span.disabled:hover {
    color: inherit;
    pointer-events: none;
}
.explorer-page .explorer-card h1 {
    font-size: 1.3em;
    color: #1b295e;
    font-weight: 500;
}
.explorer-page .explorer-card h2 {
    font-size: 1.1em;
    margin: 0.5em 0;
}
.explorer-page .explorer-card section + section {
    margin-top: 2.5em;
}
.explorer-page .explorer-card + .explorer-card {
    margin-top: 1em;
}
.explorer-page .explorer-card-body {
    padding: 1em 1.5em;
}
.explorer-page table,
.explorer-page .explorer-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
.explorer-page table .td-title,
.explorer-page .explorer-table .td-title {
    width: 15em;
}
.explorer-page table .td-title,
.explorer-page .explorer-table .td-title,
.explorer-page table th,
.explorer-page .explorer-table th {
    font-weight: bold;
    color: #777;
    font-size: 0.8em;
}
.explorer-page table th,
.explorer-page .explorer-table th,
.explorer-page table td,
.explorer-page .explorer-table td {
    padding: 0.5em 0.25em;
}
.explorer-page table td,
.explorer-page .explorer-table td {
    color: #888;
    transition: all 0.15s ease-in-out;
    word-break: break-word;
}
.explorer-page table td.no-break,
.explorer-page .explorer-table td.no-break {
    word-break: normal;
}
.explorer-page table tr:hover td,
.explorer-page .explorer-table tr:hover td {
    color: var(--color-table-text-hover);
    background-color: var(--color-table-background-hover);
}
.explorer-page table tr + tr,
.explorer-page .explorer-table tr + tr,
.explorer-page table tbody,
.explorer-page .explorer-table tbody {
    border-top: solid 1px var(--color-table-border);
}
.explorer-page .btn.btn-light {
    color: var(--color-button-light-text);
}
.explorer-page .btn.btn-light:disabled {
    opacity: 0.5;
}
.timer {
    color: #666;
}
.secondary-info {
    font-size: 0.8em;
}
summary {
    margin: 20px 0px;
    cursor: pointer;
}
