<!DOCTYPE html>
<html lang="en">
  <meta
    charset="utf-8"
    content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
    name="viewport"
  />
  <head>
    <meta charset="utf-8">
    <title>Statistics | Harmony</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="/static/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/static/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/static/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/static/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/static/apple-touch-icon-120x120.png" rel="icon" sizes="120x120">
    <link href="/static/apple-touch-icon-180x180.png" rel="icon" sizes="180x180">
    <meta property="og:title" content="Harmony - Open consensus for 10B">
    <meta property="og:site_name" content="Harmony - Open consensus for 10B">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://harmony.one/">
    <meta name="description" content="Open Consensus for 10 Billion People. Harmony for One and All. Our open infrastructure is a high-throughput, low-latency, and low-fee consensus platform designed to power decentralized economies of the future.">
    <meta property="og:description" content="Open Consensus for 10 Billion People. Harmony for One and All. Our open infrastructure is a high-throughput, low-latency, and low-fee consensus platform designed to power decentralized economies of the future.">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="https://explorer.harmony.one/static/twitter-harmony.png" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="styles.css">

  </head>
  <body>
    <div class="explorer-page page">
      <header class="navbar-fixed-top hmy-bg">
        <div class="container">
          <div class="navbar-header">
            <div class="site-brand flex-horizontal">
              <a class="navbar-brand" to="/"></a>
              <span class="tagline">Open Consensus for 10B</span>
            </div>
          </div>
        </div>
      </header>

      <div class="explorer-body">
        <div class="container">
          <div class="explorer-card">
            <header>
              <h1>Status and statistics</h1>
            </header>


            <div class="card">
            
            <section>
              <details>
                <summary>Shard 0</summary>
                <div>
                  <table style = "width: 70%">
                    <tr>
                      <th>Address</th>
                      <th>Earnings</th>
                    </tr>
                    
                    <tr>
                      <td>one16jvl43d059a4wpderqu82wlm7t3qzw8yta3wgn</td>
                      <td>23.4551</td>
                      
                    <tr>
                      <td>one1y0xcf40fg65n2ehm8fx5vda4thrkymhpg45ecj</td>
                      <td>23.3320</td>
                      
                    <tr>
                      <td>one14uzsrvucmxx5wwkx46r9a6mpqgtjlrchelw5pp</td>
                      <td>23.3301</td>
                      
                    <tr>
                      <td>one1gqdnwl6zmn9avnaksqv2555x388nr792v7gzjr</td>
                      <td>23.3282</td>
                      
                    <tr>
                      <td>one1zzhwus03x3j3fgtust0v07k7rf583rrp84zdet</td>
                      <td>23.2032</td>
                      
                    <tr>
                      <td>one1c4w9danpa5v9zqurnl07lkqdcwyn3yfm86anqu</td>
                      <td>23.2031</td>
                      
                    <tr>
                      <td>one1sgcpjc405ueglhp5udsskjxcn8crrc2lmuf35c</td>
                      <td>23.2013</td>
                      
                    <tr>
                      <td>one1a4nhuqsa7d2znx8yq7tsuyf86v6tuq597y925l</td>
                      <td>23.1994</td>
                      
                    <tr>
                      <td>one1khuc8sclm8lr09e0r64kf3jjt684leggzp22h4</td>
                      <td>23.0724</td>
                      
                    <tr>
                      <td>one1gemlvpun4528ajv7pcn2d9fufzcv80kjt3dxwg</td>
                      <td>22.6955</td>
                      
                    <tr>
                      <td>one17ffl9csu7ln3jw07fcvlmh2h8e5pv3ddk9p5sv</td>
                      <td>22.6917</td>
                      
                    <tr>
                      <td>one1ffff4d9eaezg8xft30m6n62xfpllah03kvpzdt</td>
                      <td>22.5686</td>
                      
                    <tr>
                      <td>one1nlptlw8srthgljachm4w5rgv8ulvkt3cgk4uqq</td>
                      <td>22.5667</td>
                      
                    <tr>
                      <td>one1efat5elqnvttf7gm86q9kmt48z69njax464rhv</td>
                      <td>22.5647</td>
                      
                    <tr>
                      <td>one1h2dynptqmtgdfg9fgpd8dvmv8scupkgtzapx4l</td>
                      <td>22.3147</td>
                      
                    <tr>
                      <td>one1p3u89p0p4nxaj5sdcx0s20g5u9a3xjccjmfwuu</td>
                      <td>22.3128</td>
                      
                    <tr>
                      <td>one16ru662mq0yh6lup030g09kwwy7g8yfcxc5fcfp</td>
                      <td>22.1820</td>
                      
                    <tr>
                      <td>one1myf9fq6lt4f0lc5nfuuhe3kjlr3fn93xy26xer</td>
                      <td>22.1801</td>
                      
                    <tr>
                      <td>one13rnn8uawlpqpcsh0hpm2k26xxusq639wkvl7r5</td>
                      <td>22.1744</td>
                      
                    <tr>
                      <td>one1mkx7gu70c47c83uee5agnp9zx20h3eqz3rau2d</td>
                      <td>22.1667</td>
                      
                    <tr>
                      <td>one10u6srthdr8cpn4zvc5vage6xdkaep20ts5atzc</td>
                      <td>22.0397</td>
                      
                    <tr>
                      <td>one12n7a3xwsxwj7t2wy5hppmc7deepextjufuc4w9</td>
                      <td>21.7878</td>
                      
                    <tr>
                      <td>one1qqdx33jf4uzkda546cr6av58wgc5fhf2la77ee</td>
                      <td>14.2942</td>
                      
                    <tr>
                      <td>one17495f2cxc2f5ej2h3v76jhkxjhg84v2m4azf55</td>
                      <td>11.5757</td>
                      
                    <tr>
                      <td>one1zdg2e5zsmnxqwz6826dnfuwm9a2uvgwhhd4ufw</td>
                      <td>11.2083</td>
                      
                    <tr>
                      <td>one17nacqwrnwgq7pk8eehn7j6jphxt0draqpkztpf</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1q563tnpv4tnh7l30p2wy3gnu3akhd6va97w7ku</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1c0aau6shrtxqgenpf5ymtrspxpvw0sxj0c7hrq</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one108uwrdejhf3es7rn6h4cdjqnvnpv75pp7t5ne9</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1yeay879a7dln5ltnchytx8eennpz332qn7yjx3</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one15u2v6f56pj3rzvwge4dwl3ylg5zh3395nzj57y</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one12vyznqd6lz6wwr9gkvd6q5zy9sswx792dh2eyv</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1xhwspfzgv3vh5fp9hxwngv8tvdj2qr338lmavw</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1juqumez0qr2jwacj7vvvf79t2pnmnr24nw3cec</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1mgwlvj9uq365vvndqh0nwrkqac7cgep2pcn6zl</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one16m5r7awa4y2z2cyage4cns4uejxx8rn0gw77ug</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one12saruhnv9f63dqhuadjq3vhqm3nwyw2ac40uyz</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1mzlm2tt9uhas0qnk86nwxqfuhvjnh5349pf23z</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1y97y0ayka2tyuwgk6dlthvzdt4ldma03w5r2ss</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1hxqhp9tls9r4v5hz208g93exhvz5ak258ut7d2</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1gjas4xurmc0rguafq63ql65rwuxayukm74w2mn</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1w3pvyg56gal0ajef487944gzjkg6sv68j26pey</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1jqr79m3dyzrar5ng5zwmvrycz08mrxtj508kyz</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one18ehxprgnrnjug4yqcwq48ynnw3am237hlwmwxv</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1n392jsedk9pfx7rkw2gpdpjptsgfrkxla5ve6t</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1w7ly3zmxn2qe65hddqk9tepgt7nnypn52ua7fg</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1s3dx73sa5dzrksmds5recptale8pxsa4d4hzt4</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1hdxnmfgkxtlmrym9ljjw2dpweke85pheu8g8zl</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1fallaznqw6mv2wyzggpxvlk0xjeu8hry9u7v74</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1ngc83stdm7k7n4qlrzjzfk7xxput48gtvcj32q</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1737c59mjlcrzswzw79w65xxjg7tm5pyn6jwsju</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1wrvlznh27fywscexnc2l9fxk5gjelcqdnw8pvw</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one12xfkkmqm7cnv52tml8vpdawvax0kr8f4wrlp96</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1fuhwmxdr4zulfm0lxndp7lgrstrmfpdam0w7x9</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1nvct6um8vz698pz7rjqe7m2gcqezqek3h7dc6c</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1kua9tettjz0rpmp3977rhgrslw4gvm6mxw2ttl</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1a962kd80qmqu6wwd2ywjnh2f0e95zmrur2qmde</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1p6gqsxydrjdflw9ynksvale8dtzdj5neskyw20</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1fl6y26c9f2hpj7q5sywfjph6z75ch74z0xx033</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one194ff64hex7sagaedfsct7qtgqpf8f2zp3lql2f</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1yqtjyle3f9xq3602cqp70zlrvp4swkt6ca3ach</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1s4604lg40q9tvzaaf3wp9rtr3txzl2796p6dgf</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1ssppn7nu98v6f9us8hzqmxe9x224x4e7g8yrn9</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one10p09fugsgse0wl0vwglckw20243tzgx33g0stw</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1f0yvhlqc5z7v5w5fnk7x7t38tuvjefnyyw258l</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1dy45f05wtdyx8rn824j3fslc8sv0c50ksu8fwu</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1ygq5gu7vtgfff65mcqvhsjxpadrygwc25k37zx</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1rdv6v2hyjayvwh5ezrnncphghu4scpxvruwv96</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one10xp2vm3qq25f8j7wjs5hhkau8seme8yjy0ckpq</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1uzcaptmh25ec0407fs8ra9f8kesxvaqpw6nfjs</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1fxtqcmentn0eqske6s70gnry6czdtr25wh3yda</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one19vqra78q5mwevchkf4ypcew6ask959tnallz3v</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1pa05jy8q8py5833k9jymh3jc2t5y905uaypl46</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1tg2t6dku6u8ewmtsc3ud57z9nkuu27z38kfusc</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1ux3gysrzuzcwpv6kz9g26q55fpnm46gs3uca3f</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1gnmnfqhumcpvnre23g5t43ne6he69l66ay8a6z</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one13zzrvzrdxz2pf4y6ewkgjy7h2f602esjzjx4zv</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1hz4n5vn4e6ucvppxf6n8zayhml8wsqken60ksg</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one180ynkcryyy4wc4uchjmmztdhgwmt5tvql6vnnd</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1u2p7afhq0kw4e9j4c9349na79tasewhfqucasl</td>
                      <td>0.0000</td>
                      
                    </tr>
                  </table>
                </div>
              </details>
            </section>
            
            <section>
              <details>
                <summary>Shard 1</summary>
                <div>
                  <table style = "width: 70%">
                    <tr>
                      <th>Address</th>
                      <th>Earnings</th>
                    </tr>
                    
                    <tr>
                      <td>one1pmcysk3kctszln8n89hzcrgmncnqcdxg6nl2gg</td>
                      <td>8.1169</td>
                      
                    <tr>
                      <td>one17nfgz8rtgpl3nlws5q9tdk9y3puyqf847az6ne</td>
                      <td>16.9259</td>
                      
                    <tr>
                      <td>one1teymhzlyuxv73hw78gy7vlfuyv3e4stvsmer5l</td>
                      <td>16.9141</td>
                      
                    <tr>
                      <td>one180mfv4dneefp9g74duxhspjvkmcjffstd0sj6q</td>
                      <td>16.5441</td>
                      
                    <tr>
                      <td>one1zgmd5s6fyv9rm2vuf3augqf3ucnp9a2j0h09u3</td>
                      <td>16.5432</td>
                      
                    <tr>
                      <td>one18lp2w7ghhuajdpzl8zqeddza97u92wtkfcwpjk</td>
                      <td>16.4204</td>
                      
                    <tr>
                      <td>one1y7fs65ul4zc33d2502ql6nxs7r7jj4grs5x3y9</td>
                      <td>16.4190</td>
                      
                    <tr>
                      <td>one1pnjl29uv2avuv5ts9nejwecc5em37yu92vllqn</td>
                      <td>16.3290</td>
                      
                    <tr>
                      <td>one1vme5xkhn8mtff325jz0frcy8k5zru88zz75gn5</td>
                      <td>16.2313</td>
                      
                    <tr>
                      <td>one1ha85rtgc4u96v4v9nwam5qhchswx8d579dw0sl</td>
                      <td>16.2297</td>
                      
                    <tr>
                      <td>one1cz4vfaf2j99h759c69l74yk4wfk6mxzrkg49su</td>
                      <td>16.2125</td>
                      
                    <tr>
                      <td>one1kyyt7j29h4uhtnuhfar5wmngntx4gterrkd8q9</td>
                      <td>16.1809</td>
                      
                    <tr>
                      <td>one1sedghemtml7xad54fdvglvch29ajv85qe2td4l</td>
                      <td>16.0915</td>
                      
                    <tr>
                      <td>one19verfm5jyu9ys6s4nrzm6a8888kzdlvmqpenh4</td>
                      <td>16.0718</td>
                      
                    <tr>
                      <td>one1l4yrxjz8ugwjdcxrm5snwgmgk8few9v2q2xv8h</td>
                      <td>16.0163</td>
                      
                    <tr>
                      <td>one12lecjc8a3sk35hyc5dg7te2q2cakt24d6lj2p4</td>
                      <td>15.9969</td>
                      
                    <tr>
                      <td>one1sp687xe0kk93ngp8kaxa2qd8yjm56wjmup8mf5</td>
                      <td>15.9737</td>
                      
                    <tr>
                      <td>one1u33urreh2uquc562geg34q374l2clqammt6fpr</td>
                      <td>15.9645</td>
                      
                    <tr>
                      <td>one1fgsn4xrhtq4ljfd394gesj4aj6pkkf0lsytmnn</td>
                      <td>15.9027</td>
                      
                    <tr>
                      <td>one1flv4r3udp08az7axdcz9me50kr2r4z65c8s39m</td>
                      <td>15.9003</td>
                      
                    <tr>
                      <td>one139hlrkykl2vqu88kky94csvtgpz53uwwkcvd6p</td>
                      <td>15.8502</td>
                      
                    <tr>
                      <td>one1dmh3frumlx4xrwymfdx5g7an8nrm4jjc0msgfm</td>
                      <td>15.8122</td>
                      
                    <tr>
                      <td>one1m3jm7rxkxl3l4wdtlsz9hlqlqk7ytzp7ah7sxy</td>
                      <td>15.7862</td>
                      
                    <tr>
                      <td>one14qfvtjw8ftfuv2hlajxtejvejhu9w8qxw74hwq</td>
                      <td>15.7771</td>
                      
                    <tr>
                      <td>one1zfare9m39n3m4h5sj6rpfdkatzheww3zs8ctwg</td>
                      <td>15.7508</td>
                      
                    <tr>
                      <td>one10jkak35au0w9lmsqvjvpnx7t0qc6svklup48k3</td>
                      <td>15.7482</td>
                      
                    <tr>
                      <td>one1madlfrpp4t7z8mgk86smfqnvcssfvclzszscg0</td>
                      <td>15.7442</td>
                      
                    <tr>
                      <td>one1yuqws7le57naq90w2z42k3undccy8nh7wdmuhz</td>
                      <td>15.7209</td>
                      
                    <tr>
                      <td>one1qtah9p2et4mt7x49xygqfhs2d9hgjvmrek9ppg</td>
                      <td>15.6530</td>
                      
                    <tr>
                      <td>one1chd2m6tgk3ppx562wt6me7ke8uk2fe5uw4zsk5</td>
                      <td>15.6471</td>
                      
                    <tr>
                      <td>one1fdtcrkpkhm2ppnu05zmddgqvledqh7g6r2tgdy</td>
                      <td>15.6380</td>
                      
                    <tr>
                      <td>one12cvzqwpxsq866ku4vzc6xvanwhj54wa6pkx602</td>
                      <td>15.6343</td>
                      
                    <tr>
                      <td>one1vfglvsfuk52025r5apqlfaqky37462tsdjeemf</td>
                      <td>15.6252</td>
                      
                    <tr>
                      <td>one1ljvq9tkvfp583zzl85mgjh3qjvjufnuwmn7krv</td>
                      <td>15.6031</td>
                      
                    <tr>
                      <td>one1d0k2x6ue6yd0pvuumxgxjk3qqfjpn08mu7r253</td>
                      <td>15.5979</td>
                      
                    <tr>
                      <td>one1ymudu3v8f8uv3gvzr7p6n0z0wyvsqkls6mhef0</td>
                      <td>15.5933</td>
                      
                    <tr>
                      <td>one1m0e0l70dafzh0qwxhcpd7hwkvcc5w54r7ngfjz</td>
                      <td>15.5696</td>
                      
                    <tr>
                      <td>one1rmwxk8a0hm0m2p308p3czdsyazphu9h8fsytjm</td>
                      <td>15.5488</td>
                      
                    <tr>
                      <td>one1hqu9yzdzvz6s5lr8pgxpgr3eqp6jejfuqau5g0</td>
                      <td>15.5478</td>
                      
                    <tr>
                      <td>one1qcdduv4rravchv44lfp4c30u4gyq9fqly6pw28</td>
                      <td>15.5142</td>
                      
                    <tr>
                      <td>one1fa4qz0t90jtey9v60hqyvknavty3upt9rt2cj6</td>
                      <td>15.5109</td>
                      
                    <tr>
                      <td>one1y9p60vrlycpnz35nr9t04ejc0j6dtufjskn3v4</td>
                      <td>15.4795</td>
                      
                    <tr>
                      <td>one1qfs3q0mwzmg3dsyzc6vf2telzx54t0t3zlc8a7</td>
                      <td>15.4683</td>
                      
                    <tr>
                      <td>one1v6e7uc4jwamdcjw43042jt5fw5ck5mxzt8c4wx</td>
                      <td>15.4251</td>
                      
                    <tr>
                      <td>one12tthayx2u7g262afmcfca29ktnx9aajjd8uj5j</td>
                      <td>15.3956</td>
                      
                    <tr>
                      <td>one1xrlz4kjut6rpq4ghvernnjgxwcrq27kwqresgc</td>
                      <td>15.3881</td>
                      
                    <tr>
                      <td>one1r3mh2h7flr6sgcjvpaadlfjcnguwfk5z6mjuvu</td>
                      <td>15.3854</td>
                      
                    <tr>
                      <td>one1apnpuzvys4snw7c767mpx4mztau32uheeeg3rm</td>
                      <td>15.3815</td>
                      
                    <tr>
                      <td>one1vzurzrkmzlvus7dwcguzdlt6pz6zgnuxdvsjaz</td>
                      <td>15.3450</td>
                      
                    <tr>
                      <td>one1tuqpwd2jmhjkjpm55gux3cq622utskh9cljlxx</td>
                      <td>15.3030</td>
                      
                    <tr>
                      <td>one1pkw7wnplp077fn6phv2kfejw3u7wvx0m9vppzc</td>
                      <td>15.2714</td>
                      
                    <tr>
                      <td>one1029yaac9572k79f4dq93838azru7qsg3hrzxdc</td>
                      <td>15.2327</td>
                      
                    <tr>
                      <td>one1xsf70cu7uuu5k6f0kpxp9at8r4dmg0sttzx40t</td>
                      <td>15.2056</td>
                      
                    <tr>
                      <td>one1m48ugw5grk9spkdmquegsyy6see278h2zalwrv</td>
                      <td>15.1821</td>
                      
                    <tr>
                      <td>one1hch48y73sra2g0fr8waaglgv2gmr3634s7dh7y</td>
                      <td>15.1660</td>
                      
                    <tr>
                      <td>one16xzyq2zarperhxjzmk8dyp629v4vugdkzfx7r2</td>
                      <td>15.1345</td>
                      
                    <tr>
                      <td>one1c336y6s99zudg637tdlrnd4amlcd6c8s00pcrf</td>
                      <td>15.0505</td>
                      
                    <tr>
                      <td>one1e06d6ldcr846z866wtdzm4c5h0zrlazgacz30u</td>
                      <td>15.0409</td>
                      
                    <tr>
                      <td>one1z37zj4dvmlcvuy3n3ajq57pzvn2fuxvzh2uzwc</td>
                      <td>15.0341</td>
                      
                    <tr>
                      <td>one1mlc7ph0hg7q2lwpg0g0jdnwznw9dcuv3486z4m</td>
                      <td>14.9752</td>
                      
                    <tr>
                      <td>one19jk2rkkww7seu0prw58khw0whn73r2em47d8z9</td>
                      <td>14.9747</td>
                      
                    <tr>
                      <td>one1usn6y0z9g9a9w0lnvfu6j756pu2cdh5m8wzqhx</td>
                      <td>14.9669</td>
                      
                    <tr>
                      <td>one1trjr853dp9geug9s05rc7tz6zkcukyfdgc9ewc</td>
                      <td>14.9298</td>
                      
                    <tr>
                      <td>one14z5ks7yj9tzpyt0p7na5dfpau5vj07sggxzyqm</td>
                      <td>14.8219</td>
                      
                    <tr>
                      <td>one137x3qnxekuew5v74myypk4pjr3cuzldg639n4k</td>
                      <td>14.7845</td>
                      
                    <tr>
                      <td>one17h54wwmru7cr53alqll6fy4xf422mkn625gq4l</td>
                      <td>14.5030</td>
                      
                    <tr>
                      <td>one145f84cp538hz37kl00kfkntxax5rtwz5pe6edm</td>
                      <td>1.2884</td>
                      
                    <tr>
                      <td>one14kf8n8u0p9nfxf0g0rdym9n3gey9furq00csef</td>
                      <td>1.1626</td>
                      
                    <tr>
                      <td>one1w2m2al52exugww4c2nn0fl2gqx3lfvhsq3x4k3</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1tqwwn2rh58fjafysl9rgpxjgjz8wdjmqgdwlv3</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1s3typcymaa5dgvfu68jw0hufl7vyu0hd3hscku</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1ee39d33k3ns8wpjae6kdm46620m0v2djhacas0</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1wt5darzj8wd385xl8stccj4sv6553hgckaypfr</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1aydmy5m3ymurgac9yaea9nq7tg4fwu8dnetz02</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1w0leg0cqmy29duerq7u8qdjtzucl3p007tuqms</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1kcyh7s00kr3ncf4splpy8gygethp0h4a4hlrf7</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1upl0papn6gknk9tcvxh3sm0y68jrv0zkvzmlaf</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1nc46dhk8p68rvh4asn08wyx06jdazee808uydt</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1xfm4e8xpppyujvk489t6kgdyfcpc7pq9uk9ep0</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1pe6qmn05zgshwp45srd9yf8j6fuqngaaa788a8</td>
                      <td>0.0000</td>
                      
                    </tr>
                  </table>
                </div>
              </details>
            </section>
            
            <section>
              <details>
                <summary>Shard 2</summary>
                <div>
                  <table style = "width: 70%">
                    <tr>
                      <th>Address</th>
                      <th>Earnings</th>
                    </tr>
                    
                    <tr>
                      <td>one1mk6g87mtgcyy95xp0v87q0srggmusp950gpn3w</td>
                      <td>7.0283</td>
                      
                    <tr>
                      <td>one1nvu626slwt6hwq2cup846nepcl2apuhk38gl3j</td>
                      <td>20.3315</td>
                      
                    <tr>
                      <td>one1tqa46jj9ut8zu20jm3kqv3f5fwkeq964t496mx</td>
                      <td>20.2258</td>
                      
                    <tr>
                      <td>one10ap00fxkdupc0tnh5gvaqapw3fcxyvw2d22tlx</td>
                      <td>20.2258</td>
                      
                    <tr>
                      <td>one12z5xslc3654gxs6eh3x5seanhv976dnhvuetsu</td>
                      <td>20.2248</td>
                      
                    <tr>
                      <td>one16f3f9y4sqtrk3eq7gnagr4ac8p25rf08u0pxxp</td>
                      <td>20.2248</td>
                      
                    <tr>
                      <td>one1zvaqqafg0nvmxtsvzkqalc3lz378qw5j6ysz5l</td>
                      <td>20.2248</td>
                      
                    <tr>
                      <td>one10dw0xnkm6qvpmsmeszw5wn29et9jmek9sc6dmw</td>
                      <td>20.2244</td>
                      
                    <tr>
                      <td>one149aw0kne2qwyxkxhz9v0msgf00lndvvdjne4rq</td>
                      <td>20.2244</td>
                      
                    <tr>
                      <td>one1dsgmswzkspx3at5gywltd97sj45lapaqmk0hzw</td>
                      <td>20.1186</td>
                      
                    <tr>
                      <td>one12zelq8ax3k48tfzl5zz37ndknremq6um62dwxa</td>
                      <td>20.1186</td>
                      
                    <tr>
                      <td>one1ksqcladc3r5s90v494h9tfwdhkx88tq6j549f6</td>
                      <td>20.1182</td>
                      
                    <tr>
                      <td>one1c6m2w8t0p3de3cjleu2t2duvspas6366jtf8da</td>
                      <td>20.1182</td>
                      
                    <tr>
                      <td>one1yqu97zy04zy0cu6mr2gddvs94d4j2zums7ttvt</td>
                      <td>20.0115</td>
                      
                    <tr>
                      <td>one19qy96szsrhuyjfrqgr4gzhaaw8cgct7ym83wy3</td>
                      <td>20.0115</td>
                      
                    <tr>
                      <td>one1s4rypls26kmzg03dxkklmpwhmv8u4nlh6vqkdv</td>
                      <td>19.9048</td>
                      
                    <tr>
                      <td>one1780wg58e86rs38we6ze2ts930s0qmmu40vmzya</td>
                      <td>19.9048</td>
                      
                    <tr>
                      <td>one1df49l0afjgltkaheussp8e7y708ac9zuyfpfle</td>
                      <td>19.9048</td>
                      
                    <tr>
                      <td>one10hzlc82dhc35nz75srutrhqkk7vvvyjnewclt7</td>
                      <td>19.9048</td>
                      
                    <tr>
                      <td>one1cxc5j0ygyrkq4lsvln3amdu3ys239jqzk56ykc</td>
                      <td>19.7986</td>
                      
                    <tr>
                      <td>one1nhu8np4ztt3f5xpxt4rznshhc7amm5p7fsf3xe</td>
                      <td>19.7986</td>
                      
                    <tr>
                      <td>one1nek27yzpawmqyw5lpm5tshcruz3c08sum5eke3</td>
                      <td>19.6924</td>
                      
                    <tr>
                      <td>one15pgqyp9lshxg5p0ssxsw7fjgy4mj83q95yzc9j</td>
                      <td>19.6924</td>
                      
                    <tr>
                      <td>one1fy07gk46uxspsfhpsqjdpgnn6fp3t7cgkn4whs</td>
                      <td>19.6924</td>
                      
                    <tr>
                      <td>one135mn6c90n0kd4247cramqxgeqqx5hvp506g3vd</td>
                      <td>19.5876</td>
                      
                    <tr>
                      <td>one1k80wv3uvfw5r0qhzp9yxn94u4jxu8my2xwuk87</td>
                      <td>19.5876</td>
                      
                    <tr>
                      <td>one1c2rtqwsqs65cput3q9yaejp3dxjwct207we9hm</td>
                      <td>19.5862</td>
                      
                    <tr>
                      <td>one19jsqssmtzagfda22s7neyr3e26vpp896e6z9fm</td>
                      <td>19.5862</td>
                      
                    <tr>
                      <td>one1u9g5g7qxx3rx802c4xfjre8vz7mwz87s0e8y4k</td>
                      <td>19.4814</td>
                      
                    <tr>
                      <td>one1h0f9sdm6za2m80n4xk7whuprpzvq7rmcelvukc</td>
                      <td>19.3762</td>
                      
                    <tr>
                      <td>one12s2rjhvm7exvv7v6xxtt9psve9fucayk3uyl6d</td>
                      <td>19.3762</td>
                      
                    <tr>
                      <td>one14kljysylyq0nypcxzndhfqxrkjk290l9kkhmnz</td>
                      <td>19.3752</td>
                      
                    <tr>
                      <td>one1n9ecmpqfnf4aztcq245nqqmnjn7pxamwmmuvg3</td>
                      <td>19.3752</td>
                      
                    <tr>
                      <td>one1zy628rt2d87nlad0dlvlzrnnqsv5cnt4uaa05m</td>
                      <td>19.3752</td>
                      
                    <tr>
                      <td>one1ga2euqq7yxaddm4p4yn5azhfpkpp2lz4jwrxjw</td>
                      <td>19.3748</td>
                      
                    <tr>
                      <td>one10kcthgw204tfljpr3umesfz9lmgw2pen6rgq7u</td>
                      <td>19.2695</td>
                      
                    <tr>
                      <td>one10j0tswg6x4udqafvsetjj3fl0g4e52spwp0wsh</td>
                      <td>19.2695</td>
                      
                    <tr>
                      <td>one138e7pyhgsv883tygcr64zfnrgenc68jgrt4e3n</td>
                      <td>19.2695</td>
                      
                    <tr>
                      <td>one12g4tzvgcg7lvqfrye9h5qvwz24psccsp3r2rew</td>
                      <td>19.2695</td>
                      
                    <tr>
                      <td>one1fudxzktt29z6xh05934dxtrr8nmf67htkxq5zp</td>
                      <td>19.2695</td>
                      
                    <tr>
                      <td>one1k57u35ycut268vdn054tf3h24pewc0e6yz9tej</td>
                      <td>19.2691</td>
                      
                    <tr>
                      <td>one19us7lt0ee7t2t2vy55ss7xnet6wx3myuny565q</td>
                      <td>19.2691</td>
                      
                    <tr>
                      <td>one15vkywmeq9l0hx93zvgrdd58nyvd9yjd7l3myyx</td>
                      <td>19.2691</td>
                      
                    <tr>
                      <td>one1jd3v62xz8syc0c466vcrq9q5ylxt8pkzzptkxn</td>
                      <td>19.2691</td>
                      
                    <tr>
                      <td>one1g6l7xj9w8z3uxjud8da69twzvyccqam6k5xymd</td>
                      <td>19.2691</td>
                      
                    <tr>
                      <td>one1f6duu3nl6xrjvux0wdecp4xxngn3s0w0hf8n4m</td>
                      <td>19.2691</td>
                      
                    <tr>
                      <td>one1mfdr8jl85rv6cslc5kkrvh738pqfw74hgvdla7</td>
                      <td>19.2691</td>
                      
                    <tr>
                      <td>one1rn35jk07e4sy8nqet46wpkd5spsl3hdyed5na0</td>
                      <td>19.2691</td>
                      
                    <tr>
                      <td>one1jhqwxlduf0zscrsh3jcw9a7myswxld6acwgllu</td>
                      <td>19.2691</td>
                      
                    <tr>
                      <td>one1cx5dtllm52wrur463t04szxqc6mpjdn0u8h4qt</td>
                      <td>19.2686</td>
                      
                    <tr>
                      <td>one12c23ekslj469g0g0tu9jcvecfkla7rahmrhe37</td>
                      <td>19.2686</td>
                      
                    <tr>
                      <td>one148efctcuths6gqz2r8w3prug20ns7lyu747pmh</td>
                      <td>19.2676</td>
                      
                    <tr>
                      <td>one125q55zhpwa7pq6nfea3ara6unhy9580q8up0ed</td>
                      <td>19.1633</td>
                      
                    <tr>
                      <td>one1ge96pkg4vzhvr2cdew2vmksa47aqq5g9qgzvct</td>
                      <td>19.1629</td>
                      
                    <tr>
                      <td>one1spnnh4excv6uvwzx8mj64w6n8wt2k6z9ndphsg</td>
                      <td>19.1624</td>
                      
                    <tr>
                      <td>one19saqljg2w5n402p589y6xenjc6lan46a9l9tah</td>
                      <td>19.1624</td>
                      
                    <tr>
                      <td>one1aha9g2d6scsyktjgx7wm9jwssxjp6lrtl8959z</td>
                      <td>19.1619</td>
                      
                    <tr>
                      <td>one1n0q9vc37g9h6hjplkjjnll7uxz59mnceml67g4</td>
                      <td>19.0571</td>
                      
                    <tr>
                      <td>one1aq6znwr8urphg242fp8dwg57yk3js5ng8pc5l8</td>
                      <td>19.0571</td>
                      
                    <tr>
                      <td>one1eunxsyxtke88xel47hpj54tqm3tw8rd46r5ht9</td>
                      <td>19.0571</td>
                      
                    <tr>
                      <td>one1aszeul2dgu6ucku6caz4qdavu24l6ulxkywpz2</td>
                      <td>18.9505</td>
                      
                    <tr>
                      <td>one12xd8xprzmwk7wdu825vcuweu0crlp0666fxcnr</td>
                      <td>18.9505</td>
                      
                    <tr>
                      <td>one1u33ecnyad786tra3cfsuyqahsdsz47jyap5985</td>
                      <td>18.9500</td>
                      
                    <tr>
                      <td>one10sfghmyd8n0vlu2na3muvlk4ck563cve4euhv5</td>
                      <td>18.8433</td>
                      
                    <tr>
                      <td>one1r8ywmftsqgew4sfx9808dtww4r6j3a3v98c8vt</td>
                      <td>18.8433</td>
                      
                    <tr>
                      <td>one1kzhs0vfhv6q52xh5pq6z25qnaeaztrkmh50zfa</td>
                      <td>18.8433</td>
                      
                    <tr>
                      <td>one1zsp8n0fghqjjlhmqga8uaf05jy6v2wtp3g4exh</td>
                      <td>18.7371</td>
                      
                    <tr>
                      <td>one1cele0398awp9r4646kh9dta72wqjkwnntrkfxk</td>
                      <td>18.6300</td>
                      
                    <tr>
                      <td>one10pptg3m2k4c7ntgyqqpdmcamwg9e29naq4a4gd</td>
                      <td>18.4181</td>
                      
                    <tr>
                      <td>one1825ms7c9lycwadndgc60r5x54yg8tur75n32ue</td>
                      <td>11.6041</td>
                      
                    <tr>
                      <td>one15n4k4d7cw5wyyf3pt3fnwuvcweuxmmq0knpnyh</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1qcecvkv9w77rfz75t0s7x8xpgtw0nwve2vk2sv</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1kgehgr6z0aqc43g9uqla3xnenv29kvua90pmns</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one12cycytj72gkrz6pt9sdhwx5l3cy8lydvp0xqkw</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1seaavwphcu5a3mm4p36fpl9r68f0hk24g289st</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1tgcmx89hq37pqenjc22lmr0pvn42c9vw7j9ar4</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1d9t6pah9kaws3w403z4z2hnlem4g5tced6se0z</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1kdag5d3p2g2h4ypmy3u8emm2ddyjwhgs6jdnxh</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1efyllkjzayyc72xna69qp64s6aw02ak9sfcxle</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1zpsyshpqt63kxveescaa88d5rk5mwuqqzs8uru</td>
                      <td>0.0000</td>
                      
                    </tr>
                  </table>
                </div>
              </details>
            </section>
            
            <section>
              <details>
                <summary>Shard 3</summary>
                <div>
                  <table style = "width: 70%">
                    <tr>
                      <th>Address</th>
                      <th>Earnings</th>
                    </tr>
                    
                    <tr>
                      <td>one18ky073zdrrmme3fs7h63wyzguuj6a3uukuc3gk</td>
                      <td>9.1583</td>
                      
                    <tr>
                      <td>one1fzh923dkauvyye7w68nc38j2dw54gldu5mheaz</td>
                      <td>5.6420</td>
                      
                    <tr>
                      <td>one1uhqaf9jgeczmuxs7ydzfeevwnt63ftps752cnr</td>
                      <td>5.3216</td>
                      
                    <tr>
                      <td>one19y2r8ykaztka3z8ndea0a2afd5kgswyfeahsmf</td>
                      <td>20.1187</td>
                      
                    <tr>
                      <td>one13tpdt3lppw4jum6h52uxt9g7qt54ue8dxhqmet</td>
                      <td>20.1187</td>
                      
                    <tr>
                      <td>one1ldthk5zyrea6w60rptcfyzlftd8fsn9fhkeps7</td>
                      <td>20.1182</td>
                      
                    <tr>
                      <td>one1s7s40ku4ms63066h34xwmm5j5k4jwk74gml5nx</td>
                      <td>20.0120</td>
                      
                    <tr>
                      <td>one16295hjtqyr0z22swaqthv7mvmvn2gltnj5gera</td>
                      <td>20.0116</td>
                      
                    <tr>
                      <td>one1grt0frrmy7a8239sg3tygh83nd5q74yymq2ljh</td>
                      <td>20.0116</td>
                      
                    <tr>
                      <td>one16y3pzva57c65wwfpwr7ve63q67aztedsphv069</td>
                      <td>2.9810</td>
                      
                    <tr>
                      <td>one18xnzxwn5hwuuh229cuv7mr0hnjcvgru7qt2wdv</td>
                      <td>2.1272</td>
                      
                    <tr>
                      <td>one1a37yjkrxdzwkkl3ntkqsv305grcklpksxkwsrq</td>
                      <td>19.9054</td>
                      
                    <tr>
                      <td>one17y8k8adagmzc6t54xrnl3jmtgvmdqh2wzexn3x</td>
                      <td>19.9054</td>
                      
                    <tr>
                      <td>one1df4tldae3amrkyrf96tg9pqccjvkjetattl4w8</td>
                      <td>19.9054</td>
                      
                    <tr>
                      <td>one1y5686zfh8vnygxglrhztahh7hcn2tvk33vsgrt</td>
                      <td>19.9054</td>
                      
                    <tr>
                      <td>one13hrrej58t6kn3k24fwuhzudy7x9tayh8p73cq9</td>
                      <td>19.7987</td>
                      
                    <tr>
                      <td>one1lhyk86r4a2v7gd8yhq2m0k9l2pk64y3z75zx8r</td>
                      <td>19.7987</td>
                      
                    <tr>
                      <td>one17tka7fdf9s95c597e2petfrqtnylcksvnuelzz</td>
                      <td>19.7987</td>
                      
                    <tr>
                      <td>one1r9hjnk6zmnkageyvvsypcw2p675x7qrurjeaan</td>
                      <td>19.6920</td>
                      
                    <tr>
                      <td>one1kq0xzzzlrpkzslwfesrgmp5e7umuxl3m3dgk27</td>
                      <td>19.6920</td>
                      
                    <tr>
                      <td>one10z5d98vpm5pvzw32vpma3p70vcdk0ckq0znapk</td>
                      <td>19.6920</td>
                      
                    <tr>
                      <td>one1mr3mt2ra8mwpr55uv3ymv0lmdy2s0w4m5nt0jh</td>
                      <td>19.6920</td>
                      
                    <tr>
                      <td>one1lg5nes6j2gy5tkhexhc0zs98uay9ddj05tdpq9</td>
                      <td>19.5854</td>
                      
                    <tr>
                      <td>one1528xlrfresl7wl2nr37kp0tnlr7hr3w8u5y4dp</td>
                      <td>19.5849</td>
                      
                    <tr>
                      <td>one14ajehwyxpzpzxhke77mhtt0z6k5z6cevgf6rfa</td>
                      <td>19.4801</td>
                      
                    <tr>
                      <td>one19e8nt3wadlgpxwezp58rd3yewhgnu636t8039p</td>
                      <td>19.4796</td>
                      
                    <tr>
                      <td>one105ckpneqc50uwqzgyyse90jg9ua45v9ggv87rp</td>
                      <td>19.4796</td>
                      
                    <tr>
                      <td>one1tl3alzt8a82n86uzeedrjn8tmxwh9mf3xmw04t</td>
                      <td>19.4796</td>
                      
                    <tr>
                      <td>one1trghegqlxyvkq8suavy6tmhfppcdg4rng3xlct</td>
                      <td>19.4787</td>
                      
                    <tr>
                      <td>one1kwqkyzq2pmhvufe9528g9nd966ur54v6auzruf</td>
                      <td>19.3753</td>
                      
                    <tr>
                      <td>one18r7axamzxgn57s9xcsvhevv58ukxrhsrfug6vg</td>
                      <td>19.2686</td>
                      
                    <tr>
                      <td>one173275rcmnj8q2yxcqpwc8383hqmzudmxltu3fg</td>
                      <td>19.1629</td>
                      
                    <tr>
                      <td>one13k023waf63pep2pkltdqrjlgl02s2e0lctkfwp</td>
                      <td>19.1629</td>
                      
                    <tr>
                      <td>one1933f2dpa5a7ezh2q6ul5nakd26tynn4l75pt6h</td>
                      <td>19.1629</td>
                      
                    <tr>
                      <td>one18ahgl50uyq29cuacn76ucmsgxppgmjx80zs2cj</td>
                      <td>19.1624</td>
                      
                    <tr>
                      <td>one1lmqycl6wezcdf7nqxj34slstamt0hlhp4s0rj4</td>
                      <td>19.1624</td>
                      
                    <tr>
                      <td>one1zefrcfgjuaqxggql0syz28cq40cy6ujwq6zmpx</td>
                      <td>19.1624</td>
                      
                    <tr>
                      <td>one1jhjt9fgk00f34v34pm7vmlfjqx2what2y7txge</td>
                      <td>19.1624</td>
                      
                    <tr>
                      <td>one127p7l3xcsslutld9d3pmj44vkza6048dtev2vj</td>
                      <td>19.1624</td>
                      
                    <tr>
                      <td>one13hd3zyl0jhupv6uv7lv9lcsa9ggp5l24kzdgqs</td>
                      <td>19.1624</td>
                      
                    <tr>
                      <td>one1jgmygypu7098eeukg68v7hqcm49pgg36jmm76g</td>
                      <td>19.1624</td>
                      
                    <tr>
                      <td>one17v78jnvt8wwawtulx59a9zc3awjyuvujlm333q</td>
                      <td>19.1620</td>
                      
                    <tr>
                      <td>one1slty4glg83yex23k8y954xlh9anw79xl0jjerw</td>
                      <td>19.1615</td>
                      
                    <tr>
                      <td>one19l9equxmql4jkcah8g4f6qva732npajarffj6q</td>
                      <td>19.0562</td>
                      
                    <tr>
                      <td>one1x8fhymx4xsygy4dju9ea9vhs3vqg0u3ht0nz74</td>
                      <td>19.0562</td>
                      
                    <tr>
                      <td>one1hyqkrvkad8kpttpglrl42rcthd6h0uqg2etgf4</td>
                      <td>19.0562</td>
                      
                    <tr>
                      <td>one13fnskkve55zhqr3nwrmxp2f8yxyjxagpwhf7xh</td>
                      <td>19.0562</td>
                      
                    <tr>
                      <td>one1l476nnnhekrnnk5m78k8jr9uxvh6y4ql7xq9fq</td>
                      <td>19.0558</td>
                      
                    <tr>
                      <td>one1zr57fc7txdwvcwd6w2rn4yg6tdy0j0tjhvyj8f</td>
                      <td>19.0558</td>
                      
                    <tr>
                      <td>one1d2xqazxgcv05y9fgnmpz5u0vcqdp0zja9vq7dm</td>
                      <td>19.0558</td>
                      
                    <tr>
                      <td>one19yh7lug7x76xtyvhqqlz0yahh3fz7vhlj50s2j</td>
                      <td>19.0558</td>
                      
                    <tr>
                      <td>one1v3m4hzwapym7sjr0q7xvry5jmxdr42vdnjdkhv</td>
                      <td>19.0553</td>
                      
                    <tr>
                      <td>one132sam2j2n3rwel44h552ke8q9ycfjszjfsfcpc</td>
                      <td>19.0553</td>
                      
                    <tr>
                      <td>one1hlxe68d7trza48k0n4y77antwaken3x99pgw75</td>
                      <td>19.0548</td>
                      
                    <tr>
                      <td>one1dwc9weha5xl0nmy4g4tw9g0j9lpaf2hal90skf</td>
                      <td>19.0548</td>
                      
                    <tr>
                      <td>one1u5ur5dtp64a4evq44y3095u2fcqsdgdp9yjk9h</td>
                      <td>19.0548</td>
                      
                    <tr>
                      <td>one1n8z466t0usl624um623s7deawygmkuhw7yamj9</td>
                      <td>19.0548</td>
                      
                    <tr>
                      <td>one1cs0vrkk8whq6wl608yzylxklf2lke6fm3flytu</td>
                      <td>18.9482</td>
                      
                    <tr>
                      <td>one1qwveyw2mpgwrh9mprx7h50y660367zztl8k50c</td>
                      <td>18.9482</td>
                      
                    <tr>
                      <td>one1w8lcu9ltg8lhha4x9mtx8aq02nxkhgxgr6haf7</td>
                      <td>18.8415</td>
                      
                    <tr>
                      <td>one1kt4f8hkq3vv2gkhdnp0zzjyewm9gxp90dwh46t</td>
                      <td>18.8415</td>
                      
                    <tr>
                      <td>one1z39jl5tgz3e3ra6fkru4wdnyvakrx0323zyr8v</td>
                      <td>18.7367</td>
                      
                    <tr>
                      <td>one1kqnxwp2sv8ncc4ftl0d8mle7sehuvdzj5g2eke</td>
                      <td>18.7348</td>
                      
                    <tr>
                      <td>one1rmw3r0mp255am06au737l7luwstrnju4w6w08l</td>
                      <td>18.7348</td>
                      
                    <tr>
                      <td>one18ec2d0vz2dz7q9lvddfhdrld4mccdvn9fv9e6u</td>
                      <td>18.7344</td>
                      
                    <tr>
                      <td>one1d4uc733wu5ghhqvyrxn8rc8jvs40ay35tx07ev</td>
                      <td>18.7344</td>
                      
                    <tr>
                      <td>one1trecmah3u87sdwetkcwmfyhey2vwwsky69jnnz</td>
                      <td>18.7339</td>
                      
                    <tr>
                      <td>one1hcru2lx6nagvf49hfc5skhhxummq863nlmvvu5</td>
                      <td>18.6277</td>
                      
                    <tr>
                      <td>one1w2t3d2g435az4cnyqf7rkuzq2mu08mfuwlqhcz</td>
                      <td>18.6277</td>
                      
                    <tr>
                      <td>one18ysrar3hzvgkduvuqtf9e0wrschtxlf4u2qu7e</td>
                      <td>18.6272</td>
                      
                    <tr>
                      <td>one14tdlgysvnqcdgwnduttd0y5pp2y7m8cpss30j4</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one12kdc0fqxne5f3394wrwadxq9yfaquyxgtaed3q</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one10uyfuzaztcccz97w29v0k64rzmhj4k862kfh5q</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1hmmh8tfh8p7ad2szyn5wntfplt5mn79mlfemwn</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one18275j9m2q377cpgkwkea838cdva2p6a4837xlw</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1rm0lcqq8tcnp3xl6z630mmf0q7md74s9kratp9</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1cqkrs6cttaqlww8kx2s88a6pajk6ua37u47gwt</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one1ypjapaa5mhtu32tc4ezg5d5xxl6mnl5qd9qff9</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one15hnzhrdr96hkat0v4xcf2jhm2kwyle3qcfspz0</td>
                      <td>0.0000</td>
                      
                    <tr>
                      <td>one19c4uqfzezuws7e4ka4kvc5r09suks2ghpyg6xw</td>
                      <td>0.0000</td>
                      
                    </tr>
                  </table>
                </div>
              </details>
            </section>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>