# prometheus.yml
global:
  scrape_interval: 10s

#alerting:
#  alertmanagers:
#  - static_configs:
#    - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: internal
    scrape_interval: 5s
    static_configs:
      - targets:
          - 127.0.0.1:9100
  - job_name: 'pushgateway'
    honor_labels: true
    static_configs:
      - targets: [ 'gateway.harmony.one' ]
  - job_name: 'service_mainnet'
    scrape_interval: 5s
    static_configs:
      - targets: [ ]
  - job_name: 'shard0_mainnet'
    scrape_interval: 5s
    static_configs:
      - targets: [ ]
  - job_name: 'shard1_mainnet'
    scrape_interval: 5s
    static_configs:
      - targets: [ ]
  - job_name: 'shard2_mainnet'
    scrape_interval: 5s
    static_configs:
      - targets: [ ]
  - job_name: 'shard3_mainnet'
    scrape_interval: 5s
    static_configs:
      - targets: [ ]
  - job_name: 'shard0_testnet'
    scrape_interval: 5s
    static_configs:
      - targets: [ ]
  - job_name: 'shard1_testnet'
    scrape_interval: 5s
    static_configs:
      - targets: [ ]
  - job_name: 'shard2_testnet'
    scrape_interval: 5s
    static_configs:
      - targets: [ ]
  - job_name: 'shard3_testnet'
    scrape_interval: 5s
    static_configs:
      - targets: [ ]
